* {
  --text: rgb(220, 220, 220);
  --gray-dark: rgb(44, 44, 44);
  --gray-light: rgb(56, 56, 56);
  --blue-dark: rgb(56, 56, 175);
  --blue-light: rgb(82, 82, 251);
  --yellow-dark: rgb(204, 160, 0);
  --yellow-light: rgb(255, 200, 0);
  --red-dark: rgb(134, 43, 43);
  --red-light: rgb(198, 64, 64);
}
