@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import './ui/colors.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  font-family: 'Lato', sans-serif;
  color: var(--text);
  height: 100vh;
}

header {
  background: var(--blue-dark);
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
}
